@page
@model ps5.Pages.DetailsModel
@{
    ViewData["Title"] = "Szczegóły";
}

<div class="container">
    Id: @Model.id;<br />
    Nazwa: @Model.name<br />
    Cena: @Model.price<br />
    Opis: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque venenatis lectus, nec ullamcorper ligula facilisis vel. Donec eros lorem, dapibus eget tortor porta, fringilla blandit eros. Pellentesque dignissim ante justo, ut pellentesque augue lobortis ac. Curabitur eget hendrerit ante. Suspendisse efficitur placerat gravida. Maecenas quis molestie mauris, et varius risus. Etiam sagittis pellentesque consectetur. Sed elementum lectus ligula, in eleifend nulla pharetra vel.

    Morbi efficitur mi sit amet mi placerat gravida. Cras aliquet mattis libero. Vivamus eleifend urna a risus sollicitudin dictum non vitae diam. Curabitur a iaculis mauris. Cras eu nibh tortor. Cras eu nulla est. In at mattis dui. Donec ut neque id felis vestibulum euismod. Aenean sodales sem eu purus ullamcorper, a pretium erat blandit. Nulla a est nec dolor malesuada facilisis. Sed ex nunc, tincidunt ac posuere nec, rutrum eget ante. Nam luctus eu nulla cursus porta. In ut volutpat ex. Cras posuere, dui sit amet ultricies tempor, diam purus egestas turpis, sit amet aliquam metus neque eget erat.
</div>
