@page
@model ps5.Pages.EditModel
@{
    ViewData["Title"] = "Edytuj";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelper
<h2>Edytuj</h2>
<br />
<br />
<div class="container">
    <form class="form-horizontal" method="post">
        <!--<input asp-for="id" type="hidden" value="id" /> -->
        <div class="form-group">
            <label asp-for="name" class="control-label col-sm2"></label>
            <div class="col-sm-6">
                <input asp-for="name" class="form-control">
                <span asp-validation-for="name" class="text-danger"></span><!--Walidacja-->
            </div>
        </div>
        <div class="form-group">
            <label asp-for="price" class="control-label col-sm2"></label>
            <div class="col-sm-6">
                <input asp-for="price" class="form-control">
                <span asp-validation-for="price" class="text-danger"></span><!--Walidacja-->
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn btn-primary">Zatwierdź</button>
            </div>
        </div>
    </form>
</div>

